@import '../bower_components/bootstrap/less/variables';
@import '../bower_components/bootstrap/less/mixins';

@import '../bower_components/bootstrap/less/normalize';

.content {
  position: relative;
  top: 50%;
  .translate(0, -50%);
}

.avatar {
  margin: 0 auto;
  width: 170px;
  height: 170px;
  background-image: url('http://qijunyuan-site.qiniudn.com/images/avatar.png');
  background-size: 170px 170px;
  border-radius: 170px;
}

.bubbles {
  padding: 0;
  margin: 70px auto 0;
  width: 960px;
  height: 200px;
}

.bubble-wrapper {
  float: left;
  display: block;
  list-style: none;
  width: 20%;
}

.bubble {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 150px;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;

  &.design {
    top: -30px;
    background-color: #6FEC77;
    -webkit-animation-delay: -200ms;
    animation-delay: -200ms;
  }

  &.develop {
    left: -3px;
    top: 40px;
    background-color: #75B1FD;
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
  }

  &.read {
    top: -10px;
    background-color: #FFC763;
  }

  &.life {
    top: -60px;
    background-color: #FF7BFA;
    -webkit-animation-delay: -200ms;
    animation-delay: -200ms;
  }

  &.work {
    left: 7px;
    top: 20px;
    background-color: #FF7171;
    -webkit-animation-delay: -500ms;
    animation-delay: -500ms;
  }
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: scale(0.95);
  }
  50% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}